@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --darker: #0f172a;
   --dark: #334155;
   --medium: #64748b;
   --light: #cbd5e1;
   --lighter: #f1f5f9;
   --red: #f87171;
   --green: #0d9488;
}

body,
html {
   height: 100vh;
   font-family: 'Poppins', sans-serif;
   background-color: var(--light);
}

button {
   outline: none;
   border: none;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;
}

#header {
   height: max(70px, 12vh);
   position: sticky;
   top: 0;
   color: white;
   background-color: var(--darker);
   display: flex;
   align-items: center;
   padding: 0 2vw;
}

header h1 {
   font-size: max(2rem, 6vh);
   font-weight: 500;
}

#books-container {
   padding: 5vh 0;
   width: 90vw;
   height: 87vh;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   grid-auto-rows: 360px;
   justify-content: space-around;
   align-items: center;
   justify-items: center;
   gap: min(1.5rem);
   overflow-y: auto;
   scrollbar-width: none;
}

#books-container::-webkit-scrollbar {
   display: none;
}

.book-card {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: none;
   border-radius: 1rem;
   color: var(--dark);
   background-color: var(--lighter);
   font-size: 1.3rem;
   word-wrap: break-word;
   text-align: center;
   gap: 16px;
   transition: 0.3s;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.book-card:hover {
   transform: translate(0, -3px);
}

.book-card header {
   background-color: var(--dark);
   width: 100%;
   height: 15%;
   border-radius: 1rem 1rem 0 0;
   display: flex;
}

.book-card footer {
   width: 100%;
   height: 15%;
   display: flex;
   flex-direction: column;
   color: var(--lighter);
   background-color: var(--medium);
   border-radius: 0 0 1rem 1rem;
}

.title {
   flex: 1;
   align-self: center;
   padding: 0 16px;
   word-wrap: break-word;
   line-height: 1.8rem;
}

.author {
   font-size: 1.2rem;
   padding: 0 16px;
}

.reading-toggle {
   align-self: center;
   width: 50%;
   color: var(--medium);
   background-color: var(--light);
   padding: 8px;
   font-size: 1rem;
   border-radius: 0.5rem;
}

.progress-ctrl {
   display: flex;
   align-items: center;
   flex: 1;
}

.remove-book,
.update-book {
   flex: 1;
   height: 100%;
   color: var(--lighter);
   cursor: pointer;
   font-size: 1.2rem;
}

.remove-book {
   border-radius: 0 1rem 0 0;
}

.update-book {
   border-radius: 1rem 0 0 0;
   background-color: var(--green);
}

.progress-button {
   flex: 1;
   height: 100%;
   text-align: center;
   cursor: pointer;
   color: inherit;
   background-color: var(--dark);
   transition: background-color 100ms ease-in;
   font-size: 1.5rem;
}

.progress-increment {
   border-radius: 0 0 1rem 0;
}

.progress-decrement {
   border-radius: 0 0 0 1rem;
}

.card-progress {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   flex: 5;
}

.progress-button:hover,
button:hover {
   filter: brightness(1.1);
   transition: filter 100ms ease-in;
}
.progress-button:active,
button:active {
   filter: brightness(1.3);
   transition: filter 100ms ease-in;
}

#new-book-btn {
   border: none;
   font-size: 3rem;
   font-weight: 500;
   order: 1;
   height: 100px;
   width: 100px;
   border-radius: 1rem;
   color: var(--dark);
   cursor: pointer;
   transition: 500ms;
   background-color: var(--lighter);
   outline: none;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#new-book-btn:hover {
   transform: scale(1.3);
}

#form-modal {
   height: 450px;
   width: 380px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--light);
   border: none;
   border-radius: 1rem;
   overflow: hidden;
}

#form-modal[open] {
   animation: fade-in 1s forwards;
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: translate(-50%, -20%);
   }
   100% {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}

#form-modal::backdrop {
   background: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(0.2rem);
}

#book-form {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#book-form header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--dark);
   height: 15%;
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--lighter);
}

#book-form footer {
   height: 13%;
   display: flex;
}

#book-form input[type='text'],
#book-form input[type='number'] {
   color: var(--darker);
   font-family: 'Poppins', sans-serif;
   font-size: 1.3rem;
   padding: 0.8rem;
   border-radius: 0.2rem;
   background-color: var(--lighter);
   border: none;
   width: 90%;
   align-self: center;
   transition: all 0.3s;
   outline: none;
}

#book-form button {
   color: var(--lighter);
   font-size: 1.3rem;
   cursor: pointer;
   flex: 1;
}

#cancel-book-btn,
.remove-book {
   background-color: var(--red);
}

#submit-new-book {
   background-color: var(--green);
}

#read-div {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--darker);
   font-size: 1.3rem;
}

#pages-inputs {
   width: 90%;
   align-self: center;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

#read {
   transform: scale(0.5);
}

input[type='checkbox'] {
   position: relative;
   appearance: none;
   width: 100px;
   height: 50px;
   background: var(--light);
   border-radius: 50px;
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
   cursor: pointer;
   transition: 0.4s;
}

input:checked[type='checkbox'] {
   background: var(--dark);
}

input[type='checkbox']::after {
   position: absolute;
   content: '';
   width: 50px;
   height: 50px;
   top: 0;
   left: 0;
   background: var(--lighter);
   border-radius: 50%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
   transform: scale(1.1);
   transition: 0.4s;
}

input:checked[type='checkbox']::after {
   left: 50%;
}
